
div    {border-style: solid;
    background-color: yellow;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20%;
    text-align:center;
    border-color:red;
    
    
}

h1 {     margin-left: -10px;
    font-family: helvetica;
    font-weight: bold;
    color: red;
    font-family:Helvetica, sans-serif;
    font-weight:bold;

}
audio {display:none};

.text {color:blue;
    font-family:helvetica;

}
img {       height: 350px;
    margin-bottom: -18%;
    margin-left: 37.8%;
}

body {background-color:blue;}

.text {color:blue;
    font-family:helvetica;
    
}



@media screen and (max-width:600px){
  img { height: 350px;
    margin-bottom: -80px;
    margin-left: 18%;
}

    h1{font-size:20px;}
}