
div    {border-style: solid;
    background-color: yellow;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20%;
    text-align:center;
    border-color:red;
    
    
}

h1 {     margin-left: -10px;
    font-family: helvetica;
    font-weight: bold;
    color: red;
    font-family:Helvetica, sans-serif;
    font-weight:bold;

}
audio {display:none};

p {color:red;
    font-family:helvetica;
}
img {    height: 350px;
    margin-bottom: -210px;
    margin-left: 475px;}

body {background-color:blue;}